@model SitioWeb.Models.Estudiante

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalles</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>

<div>
    <h4>Detalles del estudiante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Id del estudiante
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idEstudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Apellido paterno
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApelPaterno)
        </dd>
        <dt class = "col-sm-2">
            Apellido materno
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApelMaterno)
        </dd>
        <dt class = "col-sm-2">
            Fecha de inscripción
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInscrip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
    </dl>
</div>
    <div>
        @Html.ActionLink("Editar", "Edit", new { idEstudiante = Model.idEstudiante }, new { @class = "btn btn-primary" }) |
        <a asp-action="Index">Volver atrás</a>
    </div>
</body>
</html>
