@model IEnumerable<SitioWeb.Models.Estudiante>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<p>
    <a asp-action="Create" class="btn btn-success">Crear nuevo registro</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                Id del estudiante
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                Apellido paterno
            </th>
            <th>
                Apellido materno
            </th>
            <th>
                Fecha de inscripción
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idEstudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApelPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApelMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInscrip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { item.idEstudiante }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Detalles", "Details", new { item.idEstudiante }, new { @class = "btn btn-secondary" }) |
                @Html.ActionLink("Eliminar", "Delete", new { item.idEstudiante }, new { @class = "btn btn-danger" }) |
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
