@model IEnumerable<SitioWeb.Models.Estudiante>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idEstudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApelPaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApelMaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInscrip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idEstudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApelPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApelMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInscrip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.idEstudiante }) |
                @Html.ActionLink("Details", "Details", new { item.idEstudiante }) |
                @Html.ActionLink("Delete", "Delete", new { item.idEstudiante })
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
